*{
    font-family: "Open Sans", serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 6, 100);
    width: 100vw;
}

.logo img{
    width: 100px;
    margin-left: 20px;
}

.logo p{
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
    align-items: center;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;

}

.labels{
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.labels label{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
}
.labels label input{
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(143, 143, 143);
    margin-top: 10px;
}

.labels label input:focus{
    outline: none;
}

main button{
    height: 50px;
    margin: 20px 0;
    width: 80%;
    border: none;
    background-color: rgb(121, 37, 121);
    border-radius: 10px;
    font-size: 17px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
main button:hover{
    background-color: rgb(95, 51, 95);
}

.meme{
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}

.meme .caption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    font-size: 20px;
    font-weight: 900;
    height: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
    padding-inline: 5px;
    font-family: impact, sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

}
.caption{
    margin: 0px;
}


@media screen and (min-width: 750px) {
    header{
        width: 750px;
        justify-self: center;
        display: flex;
        flex-direction: column;
        background-color: rgb(100, 6, 100);
    }
    main{
        width: 750px;
    }
    .labels{
        flex-direction: row;
        height: 30%;
    }
    .labels label input{
        width: 200px;
    }    
}